html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: black;
  background-size: cover;
  overflow: hidden;
}

section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 40px;
  margin-left: 20px;
}

h1 a {
  color: white;
  text-decoration: none;
}

ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

ul li {
  margin-left: 2pc;
  position: relative;
  top: 42%;
  left: 0;
}

ul li a {
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 17px;
}

ul li a:hover {
  color: #f0efef;
  text-shadow: -2px 5px 6px white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.Search_Bar {
  -webkit-transform: translate(4pc, 2.5pc);
          transform: translate(4pc, 2.5pc);
}

.Search_Bar input[type='search'] {
  background-color: lightgray;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 4.5rem 10px 1rem;
}

.Search_Bar img {
  position: relative;
  right: 3pc;
  top: .4pc;
}

.container img {
  position: relative;
  right: 2pc;
  bottom: 0;
}

.container img#Logo {
  position: relative;
  right: 1pc;
}

footer input[type="email"] {
  margin: -5pc 0 0 3.5pc;
  border: none;
  outline: none;
  padding: 16px 17rem 16px 1rem;
  border: 3px solid #979595;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

footer ::-webkit-input-placeholder {
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer :-ms-input-placeholder {
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer ::-ms-input-placeholder {
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer ::placeholder {
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer button[type='submit'] {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 15px 3.5pc 15px 3.5pc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 3px solid #979595;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer button[type='submit']:hover {
  background-color: lightgrey;
  color: black;
}

span#Message {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: start;
  margin: 20px 0 0 3.7pc;
}

span#required {
  color: #f08e8e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: start;
  margin-top: 20px;
}

p {
  color: rgba(255, 255, 255, 0.466);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-top: 8px;
}
/*# sourceMappingURL=Home.css.map */